.bar
{
    width:auto;
    height: 10px;
    margin: 0 auto;
    position: relative;
    background:darkseagreen;
    width: auto;
}

.pivot {
  width: 10px;
  height: 50px;
  background: red;
  position: absolute;
  left: var(--mouse-x);
}
#value{
    padding-top: 50px;
}

   